body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

    @font-face {
        font-family: "Lato";
        src: url('698242188-Lato-Bla.eot');
        src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
            url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
            url('698242188-Lato-Bla.woff') format('woff'),
            url('698242188-Lato-Bla.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

/* Logo */

h1#logo {
    font-size: 4rem;
}

.work {
    color: #3E97C9;
    font-weight: bolder;

}

.t {
    color: #EA9009;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: center;

}

/* Catchphrase */
h2 {
    text-align: center;
    margin: auto;
    padding: 50px;

}

/* Main */

main

main section {
    max-width: 65ch;
    margin: auto;
}


/* Recherche */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}


/* Animation Input */

input-container, 
input-field, 
input-field:focus, 
input-highlight, 
input-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Input container */
.input-container {
    position: relative;
    align-items: center;
    margin: 20px;
  }
  
  /* Input field */
  .input-field {
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: bolder;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #EA9009;
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #3E97C9;
  }

  .input-field:focus::placeholder {
    opacity: 25%;
    transition: all 0.7s ease
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }


/* Bouton */

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 2rem;
    border-radius: 25px;
    border-width: 0px;
    background-color:#EA9009 ;
    color: aliceblue;
    font-weight: bolder;
    box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.1);
    height: 2rem;
    width: 250px;
}

/* Profils */

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}


section article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgb(199, 199, 199);
    width: 70%;
    margin: 10px;
    padding: 10rem 2rem 10rem 2rem;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem 0 1rem 0
}


/* DESKTOP 

@media screen and (min-width: 360px) {
    .nav li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
}
*/