header{
  background-image:url("picture1.svg");
  background-repeat: no-repeat;
  }

body {
  margin: 0 100px;
  padding: 0;
  font-family: 'Lato', sans-serif;

  @font-face {
      font-family: "Lato";
      src: url('698242188-Lato-Bla.eot');
      src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
          url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
          url('698242188-Lato-Bla.woff') format('woff'),
          url('698242188-Lato-Bla.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

/* Logo */

h1 {
  font-size: 5rem;
margin: 0;}

.work {
  color: #3E97C9;
  font-weight: bolder;

}

.it {
  color: #EA9009;
  font-weight: bolder;
}

header {
  display: flex;
  justify-content: center;

}

/* Catchphrase */

h2 {
  text-align: center;
  margin: auto;
  padding: 20px;

}

/* Resultats */


h3 {
  text-align: center;
}

/* Main */

main

main section {
  max-width: 65ch;
  margin: auto;
}


/* Recherche */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}


/* Animation Input */

input-container, 
input-field, 
input-field:focus, 
input-highlight, 
input-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input container */
.input-container {
  position: relative;
  align-items: center;
  margin: 40px;
}

/* Input field */
.input-field {
  display: block;
  width: 270px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bolder;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #EA9009;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #3E97C9;
}

.input-field:focus::placeholder {
  opacity: 25%;
  transition: all 0.7s ease
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}


/* Bouton */
.button{
  display: flex;
  justify-content: center;

}
button {
  display: inline-block;
    border-radius: 30px;
    background-color: #EA9009;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
font-weight: bolder;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
    
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }


/* Profils */

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  gap: 1rem;
}


.card {
  width: 75%;
  height: 270px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 .favorite-star {
  position: absolute; /* Position absolue par rapport à la carte parente */
  top: 5px; /* Ajustez la position verticale selon vos besoins */
  right: 10px; /* Ajustez la position horizontale selon vos besoins */
  color: gold; /* Couleur de l'étoile de favoris */
  font-size: 40px; /* Taille de police de l'étoile */
  cursor: pointer; /* Curseur de souris indiquant que l'étoile est cliquable */
}
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
 }
 

 .card-details img {
  height: 160px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

 }

 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #EA9009;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }


 
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 

/* Footer */
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem 0
}




/* Tablette */


@media screen and (min-width: 900px) {
  .profiles {

    display: grid;
      flex-wrap: wrap;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      gap: .5rem;
  }
  .card-details img{
  }
}

/* DESKTOP */


@media screen and (min-width: 1200px) {
  .profiles {
      display: grid;
      flex-wrap: wrap;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      gap: 1rem;
  }
  .input-field{
width: 350px;
  }
  .search{
    margin: 20px;
  }
  
  /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
}

@media screen and (min-width: 1450px) {
  .search {
      display: flex;
      flex-direction: row;
  }
  h1 {
    font-size: 8rem;
  }
  .profiles{

    margin: 0 100px;
  }
  
}
